{
		"COUCHDB_HOST": "put a host here (without trailing slash)",
		"COUCHDB_ADMIN_USERNAME": "put a username here",
		"COUCHDB_ADMIN_PASSWORD": "put a password here",

		"TRUSTED_ORIGINS": "put some (comma separated) hosts here (like in the header)",

		"RECAPTCHA_PUBLIC_KEY": "put a key here",
		"RECAPTCHA_PRIVATE_KEY": "put a key here"
}
