{
		"COUCHDB_HOST": "put a host here",
		"COUCHDB_ADMIN_USERNAME": "put a username here",
		"COUCHDB_ADMIN_PASSWORD": "put a password here",

		"RECAPTCHA_PUBLIC_KEY": "put a key here",
		"RECAPTCHA_PRIVATE_KEY": "put a key here"
}
