/*
	Copyright 2012, Marten de Vries

	This file is part of OpenTeacher.

	OpenTeacher is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	OpenTeacher is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with OpenTeacher.  If not, see <http://www.gnu.org/licenses/>.
*/

#header {
	background-color:#D1E9FA;
	margin:0;
	padding:0.5em;
	height:72px;
}

#logo {
	height:64px;
	float:left;
	padding-right:1em;
}

#nav {
	float:right;
	text-align:right;
}

#header h1 {
	margin:0;
}

body {
	margin:0;
	font-family: Ubuntu, sans-serif;
	background-color:#F6FAFD;
}

#page {
	padding:0.5em;
}

#footer {
	background-color:#C9DDE4;
	width:100%;
	font-size:smaller;
	text-align:right;
	padding:0.5em;
	float:right;
}

a {
	color:#000;
}

table {
	width:100%;
	border-collapse:collapse;
}

table, th, td {
	border: 1px solid #000;
}
