[Desktop Entry]
Version=@!version!@
Name=@!name!@
Comment=@!short_description!@
GenericName=Tutor
Terminal=false
Icon=openteacher
Type=Application
Exec=@!package!@
Categories=Education;Languages;Geography;Qt;
MimeType=application/x-openteacher;application/x-wrts;application/x-teach2000;application/x-openteachingwords;application/x-openteachingtopography;application/x-openteachingmedia;
